/* IMPORTS */
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/comment.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/media-podcast.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/menu.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/camera.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/user-list.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/lock.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/search.css');

/* ATRIBUIÇÕES */
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body {
    background-color: indigo;
    width: 100%;
}

h1{
    color: #4F0D5C;
    font-size: 27px;
    font-weight: 300;
    font-family: Arial;
}
header{
    display: flex;
    flex-direction: row;
    background-color: #EFDDFF;
    padding: 10px 10px;
    justify-content: space-evenly;
    border-bottom: 2px solid #b18dce;
}

.container-main {
    display: flex;
    width: 87%;
    height: calc(100% - 20px);
}
.container-body{
   position: relative;
   top: 20px;
   display: flex;
   justify-content: center;
   height: calc(100vh - 20px);
   width: 100vw;
}

/* AREA ESQUERDA */
/* CONTAINERS */
.area-esquerda{
    background-color: #4F0D5C;
    width: 45%;
    border-right: 2px solid #b18dce;
}
.icons-container{
    width: 100%;
    height: 100%;
}
.areafoto{
    display: flex;
    align-items: center;
    width: 100%;
    max-height: 40px;
}
/* AREA FOTO */
.foto-profile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

/* AREA ICONS */
.gg-comment {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1.3));
    width: 20px;
    height: 16px;
    border: 2px solid;
    border-bottom: 0;
    box-shadow:
        -6px 8px 0 -6px,
        6px 8px 0 -6px;
}
.gg-media-podcast {
    transform: scale(var(--ggs,1.3));
    position: relative;
    top: 3px;
}
.gg-menu {
    transform: scale(var(--ggs,1.3));
    top: 2px;
}
.gg-camera {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1.2));
    border: 2px solid;
    border-radius: 3px;
    width: 18px;
    height: 12px;
    perspective: 24px;
    top: 3px;
    right: 3px;
}
.gg-user-list {
    display: block;
    transform: scale(var(--ggs,1.2));
    box-sizing: border-box;
    width: 20px;
    height: 18px;
    background:
      linear-gradient(
        to left,
        currentColor 8px,
        transparent 0)
        no-repeat 14px 4px/6px 2px,
      linear-gradient(
        to left,
        currentColor 8px,
        transparent 0)
        no-repeat 14px 8px/6px 2px,
      linear-gradient(
        to left,
        currentColor 8px,
        transparent 0)
        no-repeat 14px 12px/6px 2px
}
.icons-area{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.icons{
    color: #4F0D5C;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    margin-left: 10px;
}

.icons:hover{
    color: #a61dc2;
}

.icons:active{
    background-color: #bbaaca;
    color: #4F0D5C;
    border-radius: 30%;
}

/* AREA DIREITA */
/* CONTAINERS */
.area-direita{
    background-color: #EFDDFF;
    width: 100%;
    height: 100%;
}
.interacao-area{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* AREA APRESENTAÇÃO*/
.div-box{
    width: 53%;
    max-width: 720px;
}
/* FOTO AREA*/
.foto-zap{
    width: 320px;
    height: 188px;
}
.foto-area{
    text-align: center;
}

/* TEXT BOX*/
.text-box{
    text-align: center;
    margin-top: 20px;
}

#botao-download{
    cursor: pointer;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;
    background-color: #bd6dff;
    color: #fbf1fd;
    font-size: 15px;
    font-weight: 500;
}

#botao-download:active{
    background-color: #a049e7;
}

.gg-lock {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,0.6));
    width: 12px;
    height: 11px;
    border: 2px solid;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom: transparent;
    margin-top: -12px;
    top: 10px;
}

.roda-pe{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    position: relative;
    top: 230px;
    margin-bottom: 25px;
    color: #4F0D5C;
    opacity: 59%;
}

.div-botao{
    margin-top: 30px;
}

.paragrafo{
    margin-top: 10px;
    color: #4F0D5C;
}

/* BARRA DE PESQUISA */
.gg-search {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,0.7));
    width: 16px;
    height: 16px;
    border: 2px solid;
    border-radius: 100%;
    margin-left: -4px;
    margin-top: -4px
}
.barra-pesquisa{
    margin: 5px 10px;
    width: 100%;
    height: 100%;
}
.pesquisar{
    width: 90%;
    display: flex;
    align-items: center;
    background-color: #EFDDFF;
    border-radius: 8px;
}
.icone-pesquisa-area{
    display: flex;
    justify-content: center;
    width: 15%;
}
.icone-pesquisa{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
}
.texto-da-barra{
    width: 100%;
    height: 100%;
}
.input-pesquisa{
    background-color: transparent;
    outline: 0;
    width: 100%;
    height: 100%;
    font-size: 13px;
}

.conversas-n-lidas{

}

.icone-naolido{
    width: 40px;
    height: 40px;
}